* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: rgba(230, 177, 107, 0.993);
}

header {
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 5em;
}

h2 {
    clear: both;
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 30px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(136, 80, 8, 0.993);
    font-size: 2em;
}

section {
    border: 10px solid rgb(18, 59, 18);
    background-color: rgb(50, 107, 50);
}

p {
    font-size: 1.2em;
    font-family: cursive;
    color: rgba(136, 80, 8, 0.993);   
}

.grid-item {
    border: none;
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(221, 208, 92);
    position: relative;
    cursor: pointer;
    outline: none;
}

.grid-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid silver;
    border-radius: 5%;
    transition: top, right, bottom, left, 1s, cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.grid-item:hover::before, li:focus::before {
    top: calc(5px * -2);
    right: calc(5px * -2);
    bottom: calc(5px * -2);
    left: calc(5px * -2);
}

img {
    width: 200px;  
}

.grid-floats {
    overflow: auto;
}

.grid-floats .grid-item {
    float: left;
    height: 450px;
    width: 22%;
}

.grid-floats .grid-item:nth-child(1) {
    width: 46.7%;
}


.grid-flex {
    display: flex;
    flex-wrap: wrap;
}

.grid-flex .grid-item {
    max-width: 22%;
}

.grid-flex .grid-item:nth-child(1) {
   max-width: 46.7%;
    
}




@media (max-width: 600px) {
    
    .grid-floats .grid-item {
        width: auto;
        height: auto;  
    }

    .grid-floats .grid-item:nth-child(1) {
        width: auto;
    }

    .grid-flex {
        display: flex;
        flex-direction: column;  
    }

    .grid-flex .grid-item {
        max-width: 100%;    
    }

    .grid-flex .grid-item:nth-child(1) {
        max-width: 100%;
    }
    
}

@media (min-width: 600px) and (max-width: 1024px) {
    
    .grid-floats .grid-item {
        float: left;
        width: 26.5%;
        min-height: 700px;  
    }
    
    .grid-floats .grid-item:nth-child(1) {
        width: 43%;
        min-height: 500px;  
        
    }

    .grid-floats .grid-item:nth-child(2) {
        width: 43%;
        min-height: 500px;
    }

    img {
        width: 100%;
    }

    .grid-flex {
        display: flex;
        flex-direction: row wrap;
    }

    .grid-flex .grid-item {
        width: 26.5%;
        height: auto;
    }

    .grid-flex .grid-item:nth-child(1) {
        width: 43%;
        height: auto;
    }

    .grid-flex .grid-item:nth-child(2) {
        width: 43%;
        height: auto;
    }
    
    


}

